* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');     
body {
    background-color: #E2EEFE;
    font-family: 'SF Pro Display', sans-serif; 
}

.h1 {
    padding: 60px 40px 10px;
    position: relative;
    font-size: 36px;
    color: #3c3a3a;
    opacity:0.7;
}

.container {
    width: 95%;
    margin: auto;
}

.push__wrapper {
    margin-top: 40px;
}

.push__box {
    display: none;
    position: relative;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    z-index: 1;
    padding: 20px 12px;
    margin: 8px 0;
}

.push__box:last-child {
    display: block;
}

.push__box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    box-shadow: inset 0 0 100px rgba(255, 255, 255, .6);
    backdrop-filter: blur(20px);
    z-index: -1;
}

.push__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.push__top .col {
    display: flex;
    align-items: center;
}

.push__title {
    color: #797a7a;
}

.push__time {
    font-size: 14px;
    color: #797a7a;
}

.push__person {
    font-weight: 700;
    margin-bottom: 2px;
}